@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Darker Grotesque', sans-serif;
    --text-color: black; 
    --button-color: #5988ff;
    color: var(--text-color);
    scroll-behavior: smooth;
}

.container {
        max-width: 1400px;
        margin: auto;
}

img {
    display: block;
    width: 100%;
}